a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: black;
}

body {
  background: #1dad9b;
}

.mb-5 {
  background-color: rgb(245, 242, 80);
  border: rgb(245, 242, 80);
  color: white;
  height: 40px;
}

.mb-5:hover {
  background-color: white;
  color: black;
  border: 1px solid #1dad9b;
}

.card {
  box-shadow: 0px 20px 40px 0px rgba(21, 97, 110, 0.08);
  border-radius: 20px;
  display: block;
  position: relative;
  margin: 0 auto;
  margin-top: 80px;
}

.card-body {
  margin: 40px 40px;
}

.city {
  padding: 20px 0px 5px 0px;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.container {
  font-family: varela round;
  margin-left: auto;
  margin-right: auto;
}

.currentTemperature {
  font-size: 15px;
}

#date-display {
  font-size: 16px;
  font-weight: lighter;
  margin: 0;
}

.fahrenheit {
  font-size: 20px;
}

h1 {
  font-size: 60px;
  padding: 30px 0px 0px 0px;
}

h2 {
  font-size: 60px;
  padding: 0px 0px 30px 0px;
}

.humidity {
  opacity: 0.7;
}

#icon {
  position: absolute;
  top: 200px;
  right: 100px;
  width: 150px;
  height: 150px;
}

#location-input {
  max-width: 500px;
}

p {
  opacity: 0.7;
  padding: 0px 0px;
}
#source-code {
  opacity: 0.7;
  padding: 0px 0px 80px 0px;
}

.temperature {
  font-size: 25px;
  font-weight: bold;
}

#weather-description {
  font-size: 16px;
  font-weight: lighter;
  margin: 0;
}

.weather-forecast-date {
  font-size: 20px;
  padding: 40px 0px 0px 0px;
}

.weather-forecast-temperatures {
  font-size: 14px;
}

.weather-forecast-temperature-low {
  opacity: 0.7;
}

.wind {
  opacity: 0.7;
}
